<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
Copyright (c) 2006-2008, The University of Manchester, UK.

This file is part of PsyGrid.

PsyGrid is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as 
published by the Free Software Foundation, either version 3 of 
the License, or (at your option) any later version.

PsyGrid is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public 
License along with PsyGrid.  If not, see <http://www.gnu.org/licenses/>.
-->

<beans>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
    					  destroy-method="close">
    	<property name="driverClassName"><value>@driver@</value></property>
        <property name="url"><value>@db_url@@db_schema@</value></property>
        <property name="username"><value>@username@</value></property>
        <property name="password"><value>@password@</value></property>
        <property name="initialSize"><value>5</value></property>
        <property name="maxActive"><value>20</value></property>
        <property name="maxIdle"><value>10</value></property>
        <property name="maxWait"><value>10000</value></property>
		<property name="testOnBorrow"><value>true</value></property>
		<property name="validationQuery"><value>SELECT 1</value></property>
    </bean>
    
    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
        	<ref local="dataSource"/>
        </property>
        <property name="mappingResources">
            <list>
                <value>org/psygrid/randomization/model/hibernate/Persistent.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
        	<props>
            	<prop key="hibernate.dialect">@dialect@</prop>
        	</props>
        </property>
    </bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	     <property name="sessionFactory">
             <ref local="sessionFactory"/>
         </property>
    </bean>
    
    <bean id="myRandomizationDAO" class="org.psygrid.randomization.dao.hibernate.RandomizationDAOHibernate">
    	<property name="sessionFactory">
        	<ref local="sessionFactory"/>
    	</property>
	</bean>
    
	<bean id="myInterceptor" class="org.psygrid.randomization.dao.hibernate.DAOInterceptor" />
	
	<bean id="randomizationDAOService"
	      class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
	  	<property name="target" ref="myRandomizationDAO"/>
    	<property name="preInterceptors">
      		<list>
        		<ref local="myInterceptor"/>
      		</list>
    	</property>
	  	<property name="transactionAttributes">
	    	<props>
	      		<prop key="get*">PROPAGATION_REQUIRED, readOnly</prop>
	      		<prop key="*">PROPAGATION_REQUIRED, -org.psygrid.randomization.dao.RandomizerDAOException</prop>
	    	</props>
	  	</property>
	</bean>

	<bean id="accessController" class="@accessController@" />

</beans>
