<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  	<display-name>Medication Distribution</display-name>
  
	<context-param>
        <param-name>policyAuthorityProperties</param-name>
	    <param-value>paqc.properties</param-value>
	</context-param>

	<context-param>
        <param-name>medsProperties</param-name>
	    <param-value>meds.properties</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

  	<servlet>
    	<servlet-name>AxisServlet</servlet-name>
    	<display-name>Apache-Axis Servlet</display-name>
    	<servlet-class>
        	org.apache.axis.transport.http.AxisServlet
    	</servlet-class>
        <load-on-startup>1</load-on-startup>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>AxisServlet</servlet-name>
    	<url-pattern>/services/*</url-pattern>
  	</servlet-mapping>

  	<session-config>
    	<session-timeout>60</session-timeout>
  	</session-config>
  
  	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>
  	
    <error-page>
        <error-code>404</error-code>
        <location>/notfound.html</location>
    </error-page>   

    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>   
    
</web-app>
