<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/meds</property>
    <property name="hibernate.connection.username">opencdms</property>
    <property name="hibernate.connection.password">cherry</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <mapping resource="org/psygrid/meds/events/AllocationEvent.hbm.xml"/>
    <mapping resource="org/psygrid/meds/events/CentreViewEvent.hbm.xml"/>
    <mapping resource="org/psygrid/meds/events/Event.hbm.xml"/>
    <mapping resource="org/psygrid/meds/events/PackageViewEvent.hbm.xml"/>
    <mapping resource="org/psygrid/meds/events/ProjectViewEvent.hbm.xml"/>
    <mapping resource="org/psygrid/meds/medications/MedicationPackage.hbm.xml"/>
    <mapping resource="org/psygrid/meds/project/Centre.hbm.xml"/>
    <mapping resource="org/psygrid/meds/project/Project.hbm.xml"/>
    <mapping resource="org/psygrid/meds/project/Treatment.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
