<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">

	<context-param>
		<param-name>configuration</param-name>
		<param-value>deployment</param-value>
	 	<!-- <param-value>development</param-value> -->
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<session-config>
  		<session-timeout>10</session-timeout>
	</session-config>

	<servlet>
    	<servlet-name>smsreceive</servlet-name>
    	<servlet-class>org.opencdms.sms.SmsReceiveServlet</servlet-class>
  	</servlet>

  	<servlet-mapping>
    	<servlet-name>smsreceive</servlet-name>
    	<url-pattern>/smsreceive</url-pattern>
  	</servlet-mapping>


	<filter>
	    <filter-name>WebApplication</filter-name>
	    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationFactoryClassName</param-name>
            <param-value>
                org.apache.wicket.spring.SpringWebApplicationFactory
            </param-value>
        </init-param>
	</filter>

	<filter>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>filterChainProxy</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

  	<filter-mapping>
    	<filter-name>WebApplication</filter-name>
    	<url-pattern>/*</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>ERROR</dispatcher>
  	</filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>

</web-app>

